.scrollup{
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: gray;
    opacity: 0.8;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    z-index: 30;
    transition:  .4s;
}

.scrollup_icon{
    font-size: 1.5rem;
    color: black;
}

.scrollup:hover{
    background-color: white ;
}

.show-scroll{
    bottom: 3rem;
}